

.banner{ 
         height: 500px;
        background-image: url("https://i.ibb.co/VByzGZp/Rectangle-13.png");
        height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; ;

    }
.banner::after{ 
    content: '';
       position: absolute;
       top: 0px; 
       right: 0px;
       width: 100%;
       height: 450px;
       background: #000000a8;


   }
.bannerContent{ 
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate( 50%, 50%);
    z-index: 9999;
   }
   .bannerContent h1{
       font-size: 50px;
       font-weight: bold;
       color: #fff;
   }

  .searchBtn{
      margin-left: 10px;
    background: #275A53;
    height: 45px;
    width: 140px;
    line-height: 0px;
    color: #fff;
    padding: 0px !important;
    border: 2px solid #275A53 !important;
    transition: all 0.5s linear;
  }
  .searchBtn:hover{
    background: #0d413a;
   
  }