.myRentBtn{
 background: #275A53 !important;
 border-radius: 5px !important;
 border: 0px solid #7c7c7c !important;
 font-weight: 300;
 cursor: pointer;
 color: #ffff;
 margin-left: auto;
 margin-right: auto;
display: block;
}
.myRentBtn{
    background: #275A53 !important;
    border-radius: 5px !important;
    border: 0px solid #7c7c7c !important;
    font-weight: 300;
    cursor: pointer;
    color: #ffff;
    margin-left: auto;
    margin-right: auto;
   display: block;
   }